<div class="ambulance">
	<a href="#" class="ambulance__item">
		<div class="ambulance__pic">
			<img src="static/img/general/mask-01.png" alt="med" class="ambulance__img">
			<div class="ambulance__mask"></div>
		</div>
		<div class="ambulance__footer">
			<h5 class="ambulance__title">Эпидемиология</h5>
			<p class="ambulance__desc">Узнайте данные о вашем регионе</p>
		</div>
	</a>

	<a href="#" class="ambulance__item">
		<div class="ambulance__pic">
			<img src="static/img/general/mask-02.png" alt="med" class="ambulance__img">

		</div>
		<div class="ambulance__footer">
			<h5 class="ambulance__title">Обучение пациентов</h5>
			<p class="ambulance__desc">Полезные сервисы и материалы для пациентов</p>
		</div>
	</a>

</div>