<div class="drug">
	<a href="#" class="drug__item">
		<span class="drug__content">
			<img class='drug__pic' src="static/img/minified-svg/icon-medicine.svg" alt="dnk">
			<h4 class="drug__title">Препарат Туджео</h4>
		</span>
		<span class="drug__mask mask-01"></span>
	</a>
	<a href="#" class="drug__item">
		<span class="drug__content">
			<img class='drug__pic' src="static/img/minified-svg/icon-medicine.svg" alt="dnk">
			<h4 class="drug__title">Препарат Амарил</h4>
		</span>
		<span class="drug__mask mask-02"></span>
	</a>
	<a href="#" class="drug__item">
		<span class="drug__content">
			<img class='drug__pic' src="static/img/minified-svg/icon-medicine.svg" alt="dnk">
			<h4 class="drug__title">Препарат Апидра</h4>
		</span>
		<span class="drug__mask mask-01"></span>
	</a>
</div>