<div class="wide">
	<div class="wide__text">
		<h3 class="wide__title">Скоро в эфире!</h3>
		<p class="wide__desc">В ближайшее время на Docsfera появятся новые материалы в разделе "Диабет"</p>
	</div>
	<div class="wide__info">
		<div class="event">
			<div class="event__pic">
				<img class='icon' src="static/img/minified-svg/icon-dnk.svg" alt="dnk">
			</div>
			<div class="event__text">
				<p class="event__desc">Актуальные данные исследований</p>
			</div>
		</div>
		<div class="event">
			<div class="event__pic">
				<img class='icon' src="static/img/minified-svg/icon-lamp.svg" alt="lamp">
			</div>
			<div class="event__text">
				<p class="event__desc">Анонсы мероприятий и конференций</p>
			</div>
		</div>
	</div>
</div>